body {
    background: lightgreen;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

#menu {
    background: white;
    height: 80px;
    margin-bottom: 50px;
}

.menuitem {
    font-size: 30px;
    color: green;
    display: inline-block;
    margin: 15px;

    text-decoration: none;
}

.error {
    color:red;
    font-size: 20px;
}

.poem {
    float: left;
    width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background: lightblue;
}

pre {
    font: inherit;
    font-size: 20px;
}

.userinfo {
    color: darkslategray;
}

.time {
    float: right;
    color: darkslategray;
}