<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Luuletused</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="scripts.js"></script>
    </head>
    <body>
        <div id="menu">
            <a class="menuitem" href="?page=main">Avaleht</a>
            <a class="menuitem" href="?page=poems">Luuletused</a>
            <?php if (!empty($_SESSION['user'])):?>
                <a class="menuitem" href="?page=add">Lisa luuletus</a>
                <a class="menuitem" href="?page=logout">Logi välja</a>
            <?php else: ?>
                <a class="menuitem" href="?page=reg">Registreeri</a>
                <a class="menuitem" href="?page=login">Logi sisse</a>
            <?php endif; ?>
        </div>